<%= simple_form_for(@salesperson_entry,
  :as => :salesperson_entry,
  :html => {},
  :url => entity_salespeople_path(@entity),
  :wrapper => :basic_form) do |form| %>
<header class="thing">
  <div class="container">
    <h1>New Salesperson</h1>
    <nav>
      <input type="submit" class="action button-blue right" value="Save" />
      <%= link_to 'Cancel', entity_path(@entity) %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => 'form',
             :locals => {
               :form => form,
               :locations => @locations,
               :model => @salesperson_entry } %>
</section>
<% end %>
