<table class="tables">
  <thead>
    <tr>
      <th>Display Name</th>
      <th>Email Address</th>
    </tr>
  </thead>
  <tbody>
    <% if contacts.each do |contact| %>
      <tr>
        <td nowrap>
          <%= link_to contact.display_name, contact_path(contact) %>
        </td>
        <td><%= contact.email_address %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="3">No contacts found</td>
      </tr>
    <% end %>
  </tbody>
</table>
