<table class="tables">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% if locations.each do |location| %>
      <tr>
        <td>
          <%= link_to location.location_name, location_path(location) %>
        </td>
        <td><%= location.decorate.long_address %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="2">No locations found</td>
      </tr>
    <% end %>
  </tbody>
</table>
