<h1>Edit Entity</h1>

<fieldset>
<%= simple_form_for(@entity,
                    :defaults => {
                            input_html: { class: 'span-2' },
                            label_html: { class: 'span-1' },
                            :wrapper_html => { :class => 'grid-3' }
                    },
                    :wrapper => :vertical_form 
                    ) do |f| %>

    <%= render partial: 'form', locals: { form: f, model: @entity } %>

    <div class="flakes-actions-bar">
      <input type="submit" class="action button-blue right" value="Save" />
      <%= link_to 'Cancel', entities_path(), :class => 'action button-gray right' %>
    </div>

<% end %>
</fieldset>
