<div class="header segment">
  <div class="container">
    <h1 class="ui header">
      New Entity
    </h1>
  </div>
</div>
<div class="main container">
  <%= simple_form_for(@entity,
    :html => { :class => 'ui form' },
    :wrapper => :semantic_form) do |f| %>
      <%= render partial: 'form', locals: { form: f, model: @entity } %>

      <input type="submit" class="ui submit button" value="Save" />
      <%= link_to 'Cancel', entities_path, :class => 'ui basic button' %>
  <% end %>
</div>
