<%= simple_form_for(@entity_entry,
  :url => entities_path,
  :wrapper => :basic_form) do |form| %>
<header>
  <div class="container">
    <h1>New Entity</h1>
    <nav>
      <input type="submit" value="Save" />
      <%= link_to 'Cancel', entities_path %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => 'form',
       :locals => { :form => form, :model => @entity_entry } %>
</section>
<% end %>
