<!DOCTYPE html>
<html>
<head>
  <title>Chancellor</title>
  <%= stylesheet_link_tag    "chancellor/application", media: "all" %>
  <%= javascript_include_tag "chancellor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
