<% content_for :header do %>
<div class="header segment">
  <div class="container">
    <h1 class="ui header">
      Welcome to Chancellor
    </h1>
    <%= semantic_flash %>
  </div>
</div>
<% end %>
