<%= simple_form_for(@customer_entry,
  :url => entity_customers_path(@entity),
  :wrapper => :basic_form) do |form| %>
<header>
  <div class="container">
    <h1>New Customer</h1>
    <nav>
      <input type="submit" value="Save" />
      <%= link_to 'Cancel', entity_path(@entity) %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => 'form',
             :locals => {
               :form => form,
               :contacts => @contacts,
               :locations => @locations,
               :salespeople => @salespeople,
               :model => @customer_entry } %>
</section>
<% end %>
