<section class="content-slice container view-form">
  <div class="row">
    <label>Reference</label>
    <p><%= entity.reference %></p>
  </div>
  <div class="row">
    <label>Name</label>
    <p><%= entity.name %></p>
  </div>
  <div class="row">
    <label>Display Name</label>
    <p><%= entity.display_name %></p>
  </div>
  <div class="row">
    <label>Parent</label>
    <p><%= parent_entity_string(entity) %></p>
  </div>
</section>
