<div class="main container">
  <div class="ui grid">
    <div class="two column row">
      <label class="column">Reference</label>
      <div class="column"><%= entity.reference %></div>
    </div>
    <div class="two column row">
      <label class="column">Name</label>
      <div class="column"><%= entity.name %></div>
    </div>
    <div class="two column row">
      <label class="column">Display Name</label>
      <div class="column"><%= entity.display_name %></div>
    </div>
  </div>
</div>
