<h1>Add Role</h1>

<fieldset>
<%= simple_form_for(@grant,
                    :defaults => {
                      :input_html => { :class => 'span-2' },
                      :label_html => { :class => 'span-1' },
                      :wrapper_html => { :class => 'grid-3' }
                    },
                    :url => admin_user_roles_path(@user),
                    :wrapper => :vertical_form 
                    ) do |form| %>

    <%= render :partial => '/model_errors', :locals => { :model => @grant } if @grant.errors.any? %>

    <ul>
    <%= form.input :name,
      :collection => roles_collection(@grant.user.available_roles),
      :input_html => { }, :label => 'Role' %>
    </ul>

    <div class="flakes-actions-bar">
      <input type="submit" class="action button-blue right" value="Save" />
      <%= link_to 'Cancel', admin_user_path(@user), :class => 'action button-gray right' %>
    </div>
<% end %>
</fieldset>
