<%= simple_form_for(@grant,
  :url => admin_user_roles_path(@user),
  :wrapper => :basic_form) do |form| %>
<header>
  <div class="container">
    <h1>Add Role</h1>
    <nav>
      <input type="submit" value="Save" />
      <%= link_to 'Cancel', admin_user_path(@user) %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => '/model_errors',
             :locals => { :model => @grant } if @grant.errors.any? %>

  <%= form.input :name,
    :collection => roles_collection(@grant.user.available_roles),
    :label => 'Role' %>
</section>
<% end %>
