<section class="container">
  <div class="line-behind-text">
    <h1>Add Role</h1>
  </div>
  <%= simple_form_for(@grant,
    :html => { :class => 'ui form' },
    :url => admin_user_roles_path(@user),
    :wrapper => :basic_form) do |form| %>
    <%= render :partial => '/model_errors', :locals => { :model => @grant } if @grant.errors.any? %>

    <%= form.input :name,
      :collection => roles_collection(@grant.user.available_roles),
      :label => 'Role' %>

    <p>
      <input type="submit" class="ui submit button" value="Save" />
      <%= link_to 'Cancel', admin_user_path(@user), :class => 'ui basic button' %>
    </p>
  <% end %>
</section>
