/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

/* Requires Clear */
.clearing {
  overflow: hidden;
  clear: both;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

table.with-buttons tbody tr td:last-child {
  text-align: right;
}

.static > div { display: inline-block; }
.ui.fluid.search input.prompt { width: 100%; }


.ui.header > a[class*="right floated"] {
  float: right;
  font-size: 1rem;
  font-weight: normal;
  margin-right: 0em;
  margin-left: 0.25em;
  cursor: pointer;
}

/*----
  Space between the top of the viewport and the header menu.
-----*/
.full.height div.segment:first-child {
  margin-top: 36px;
}

.full.height div.segment.flash:first-child div.message {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
}

/*---
---*/
.grid.basic.segment {
  margin: -1rem;
}

#user-name-menu { white-space: nowrap; }
#user-name-menu div.user-name { margin-right: 20px; }

/*--------------
  Transparent
---------------*/

.ui.transparent.menu {
  opacity: 0.95;
}

.pushable.left.overlay .fixed.launch.button {
  transform: translate3d(0, 0, 0);
}
.pushable.overlay.left.pushed .fixed.launch.button {
  transform: translate3d(260px, 0, 0);
}
.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  /*
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
  */
}

.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  /*width: 130px;*/
}
.fixed.launch.button:hover .text {
  opacity: 1;
}


.shortcuts {
  float: right;
  clear: both;
}
.launch.button .icon {
  margin-left: 0px;
}

/*--------------
  Fixed Columns
---------------*/

.fixed.column {
  position: absolute;
  right: 2em;
  top: 0px;
  width: 300px;
}

.tab.header.segment .fixed .tabular.menu {
  position: fixed;
  top: 50px;
}
.fixed .launch {
  display: none;
}
.ui.fixed.menu .launch.item {
  display: none;
}
.fixed.column .sticky {
  padding-top: 4em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/*******************************
      Definition Container
*******************************/

> .pusher > .footer {
  clear: both;
}

.main.container {
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 2em 2em 7em;
  position: auto;
  z-index: 1;
}
.wide.main.container {
  width: 80%;
  margin: 0 auto;
  right: 0;
  max-width: 1140px;
}

.main.container > .right.rail .sticky,
.main.container > .tab > .right.rail .sticky {
  padding: 2em 0em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.container {
  position: relative;
  width: 915px;
  margin: 0px auto;
}

.following.menu .menu .active.item {
  font-weight: bold;
}
.following.menu .item .menu {
  margin: 0em;
}
.following.menu .menu .item {
  margin: 0em;
  padding: 0.5rem 0.25rem;
}

@media only screen and (max-width : 400px) {
  .advertisement {
    max-width: 260px;
  }
}
@media only screen and (max-width : 600px) {
  .solid, .stripe {
    padding: 4em 0em;
  }
  > .pusher > .footer {
    padding: 2em 0em;
  }
  .container {
    width: auto;
    margin: 0em 1rem;
  }
  .main.container {
    padding: 1em;
    box-shadow: none;
  }
  .header.segment {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .example i.code {
    opacity: 0.3;
  }
  .example i.code:hover {
    opacity: 1;
  }
}

@media only screen and (min-width : 600px) and (max-width : 998px) {
  .container {
    width: auto;
    margin: 0em 2rem;
  }
  .header .button {
    margin-bottom: 0.5em;
  }
  .main.container {
    padding: 1em 2em;
  }
}

@media only screen and (max-width : 998px) {

  > .pusher {
    display: block;
    width: 100%;
    height: auto;
  }
  > .pusher > .full.height {
    display: block;
    height: auto;
  }
  .following.menu {
    display: none;
  }
}
@media only screen and (min-width : 998px) {
  .following.menu {
    display: block;
  }
  .container {
    /*right: 110px;*/
  }
}

@media only screen and (min-width: 1200px) {
  .introduction {
    display: block;
  }
  .advertisement {
    left: 100%;
    padding-left: 0em;
    position: absolute;
    top: -1em;
    vertical-align: top;
  }
}
@media only screen and (min-width : 998px) and (max-width: 1200px) {
  .header.segment .container {
    /*width: 878px;*/
    /*right: -24px;*/
    right: auto;
  }
  .tab.header.segment .tabular.menu {
    width: 680px;
  }
  .container {
    width: 680px;
    /*right: 75px;*/
    margin: 0em auto;
  }
  .container .right.rail {
    width: 200px;
    padding-left: 0em;
  }
}
@media only screen and (min-width : 1200px) and (max-width: 1355px) {
  .container {
    width: 765px;
    /*right: 128px;*/
    margin: 0em auto;
  }
}
@media only screen and (min-width : 1355px) {
  .container {
    width: 850px;
  }
  .item .container,
  .card .container {
    width: 965px;
  }
}

/* segment headers */
.header.segment {
  position: relative;
  z-index: 2;
  margin: 0em;
  /*min-height: 185px;*/
  /*min-height: 140px;*/
  /*padding-top: 70px;*/
  /*padding-top: 60px;*/
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header.segment h1 {
  margin-bottom: 0em;
}
.tab.header.segment {
  padding-bottom: 0em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}
.tab.header.segment .vertical.menu {
  display: none;
  margin: 2rem 0em 1rem;
}
.tab.header.segment .tabular.menu {
  clear: both;
  margin: 2rem 0px 0em;
  border-bottom: none;
}
.tab.header.segment .tabular.menu .active.item {
  background-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

.header.segment .download.popup .grid {
  max-width: 0px;
}
.header.segment .download.popup .choice.grid .column {
  width: 200px;
}
.header.segment .download.popup .framework.grid .column,
.header.segment .download.popup .standalone.grid .column {
  width: 350px;
}
.header.segment .download.popup .check.icon {
  margin-left: -1em;
}
.header.segment .download.popup .framework.grid,
.header.segment .download.popup .standalone.grid,
.header.segment .download.popup .integration.grid,
.header.segment .download.popup .link.grid {
  display: none;
}

.legacy .main.menu,
.legacy .launch.button {
  left: auto !important;
}
.scale.down.pushed .header.segment {
  padding-top: 30px;
}

.divider .ui.grid {
  position: relative;
}
.dim .segment .wireframe.image {
  margin-bottom: 0em;
}

.download.menu {
  margin-top: 0em;
  margin-bottom: 3rem;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 998px) {
  .fixed .section,
  .fixed .title b {
    display: none;
  }
  .fixed .container {
    width: auto;
    margin: 0px auto;
    max-width: 9999px;
  }
  .fixed.launch.button {
    display: none !important;
  }
  .fixed .launch {
    cursor: pointer;
    display: inline-block;
  }
  .ui.fixed.menu .launch.item {
    cursor: pointer;
    display: inline-block;
  }
}


@media only screen and (max-width : 780px) {
  pre.console {
    height: 150px;
  }
  .introduction {
    display: block;
  }
  .advertisement {
    display: block;
    margin: 1em auto;
    padding: 0em;
  }
  #toc .hide.item {
    display: block;
  }
  #toc .item > .icon {
    font-size: 1em !important;
  }
  .inverted.advertisement .carbonad-img {
    margin-top: 0px;
  }
  #carbonads-container {
    float: none;
  }
  .carbonad {
    width: auto;
  }
  .carbonad-text,
  .carbonad-tag {
    float: none;
    display: block;
    text-align: left;
    margin-left: 160px;
    width: 170px;
  }
  #example:not(.index) .introduction .button {
    float: none;
    margin: 0 0.5em 0.5em 0;
  }
}

@media only screen and (max-width : 600px) {
  .main.menu .borderless.item {
    display: none;
  }
  .fixed .developer,
  .fixed .designer,
  .fixed .previous,
  .fixed .next {
    display: none;
  }
  .tab.header.segment .tabular.menu {
    display: none;
  }

  .tab.header.segment .vertical.menu {
    display: block;
  }
}
@media only screen and (max-width : 450px) {
  .main.menu .icon.item {
    display: none;
  }
  .main.menu .github.item {
    display: inline-block;
  }
  .main.menu .github.item:before {
    display: none;
  }
  .carbonad {
    height: 135px;
  }
  .carbonad .carbonad-text {
    width: 90px;
  }
}

.masthead .mobile.buttons {
  display: none;
}
@media only screen and (max-width : 470px) {
  .masthead .tag.label {
    display: none;
  }
  .masthead .inverted.buttons {
    display: none;
  }
  .masthead .mobile.buttons {
    display: block;
  }
  .button-page .ui.buttons,
  .button-page :not(.buttons) .ui.button {
    margin-bottom: 0.5em;
  }
  .masthead:before {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
  }
}

@media only screen and (max-width : 640px) {
  .header.segment .download.button {
    display: none;
  }
  .language.dropdown .menu {
    overflow-x: hidden;
    overflow-y: auto;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    max-height: 316px;
  }
  .transition .fixed.column {
    display: none;
  }
  .transition .examples {
    width: 100%;
  }
  .transition .examples .pointing.below.label {
    display: none;
  }
}
@media only screen and (max-width : 998px) {
  .examples {
    margin-right: 230px;
    padding: 1px;
  }
  .fixed.column,
  .fixed.column .fixed {
    width: 200px;
  }
}
@media only screen and (min-width : 998px) {
  .examples {
    margin-right: 280px;
    padding: 1px;
  }
  .fixed.column,
  .fixed.column .fixed {
    width: 250px;
  }
  > .pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  > .pusher > .full.height {
    flex: 1;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  > .pusher > .full.height {
    flex: none;
  }
}
