<section class="container">
  <div class="line-behind-text">
    <h1>Edit User</h1>
  </div>
  <%= simple_form_for([:admin, @user],
    :html => { :class => 'ui form' },
    :wrapper => :basic_form) do |f| %>
    <%= render partial: 'form', locals: { form: f, model: @user } %>

    <p>
      <input type="submit" class="ui submit button" value="Save" />
      <%= link_to 'Cancel', [:admin, :users], :class => 'ui basic button' %>
    </p>
  <% end %>
</section>
