<%= simple_form_for(@user_entry,
  :html => { :method => :patch },
  :url => admin_user_path(@user),
  :wrapper => :basic_form) do |form| %>
<header>
  <div class="container">
    <h1>Edit User</h1>
    <nav>
      <input type="submit" value="Save" />
      <%= link_to 'Cancel', admin_user_path(@user) %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => 'form',
             :locals => { :form => form, :model => @user_entry } %>
</section>
<% end %>
