<h1>Edit User</h1>

<fieldset>
<%= simple_form_for([:admin, @user],
                    :defaults => {
                      :input_html => { :class => 'span-2' },
                      :label_html => { :class => 'span-1' },
                      :wrapper_html => { :class => 'grid-3' }
                    },
                    :wrapper => :vertical_form 
                    ) do |f| %>

    <%= render partial: 'form', locals: { form: f, model: @user } %>

    <div class="flakes-actions-bar">
      <input type="submit" class="action button-blue right" value="Save" />
      <%= link_to 'Cancel', admin_users_path(), :class => 'action button-gray right' %>
    </div>
<% end %>
</fieldset>
