<header class="main">
  <div class="container">
    <h1>Users</h1>
  </div>
</header>
<section class="container">
  <table class="tables">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Last Signed In</th>
    </tr>
    </thead>
    <tbody>
    <% if @users.each do |user| %>
      <tr>
          <td nowrap><%= link_to user.display_name, admin_user_path(user) %></td>
          <td nowrap><%= user.email %></td>
          <td nowrap><%= active_string(user) %></td>
          <td nowrap><%= user.last_sign_in_at %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="2">No users found</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
