<header class="main">
  <h1>Users</h1>
</header>
<section class="container">
  <table class="tables">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if @users.each do |user| %>
      <tr>
          <td nowrap><%= user.email %></td>
          <td nowrap><%= active_string(user) %></td>
          <td nowrap>
            <nav>
            <%= link_to [:edit, :admin, user, :return_url => return_url(request.original_url)] do %>
                        Edit
            <% end %>
            <%= link_to [:admin, user, :return_url => return_url(request.original_url)] do %>
                        View
            <% end %>
            </nav>
          </td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="3">No users found</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
