<h1>Add Role</h1>

<fieldset>
<%= simple_form_for([:admin, @user, @user_role],
                    :defaults => {
                      :input_html => { :class => 'span-2' },
                      :label_html => { :class => 'span-1' },
                      :wrapper_html => { :class => 'grid-3' }
                    },
                    :wrapper => :vertical_form 
                    ) do |f| %>

    <%= render :partial => '/model_errors', :locals => { :model => model } if model.errors.any? %>

    <ul>
    <%= form.input :name, :collection => roles_collection,
      :input_html => { } %>
    </ul>

    <div class="flakes-actions-bar">
      <input type="submit" class="action button-blue right" value="Save" />
      <%= link_to 'Cancel', admin_user_path(@user), :class => 'action button-gray right' %>
    </div>
<% end %>
</fieldset>
