<div class="header segment">
  <div class="container">
    <h1 class="ui header">
      Edit Location
    </h1>
  </div>
</div>
<div class="main container">
  <%= simple_form_for(@location,
    :html => { :class => 'ui form' },
    :wrapper => :semantic_form) do |form| %>
      <%= render :partial => 'form',
                 :locals => { :form => form, :model => @location } %>

      <input type="submit" class="ui submit button" value="Save" />
      <%= link_to 'Cancel', entity_path(@location.entity), :class => 'ui basic button' %>
  <% end %>
</div>
