<%= simple_form_for(@location_entry,
  :as => :location,
  :html => { :method => :post },
  :url => entity_locations_path(@entity),
  :wrapper => :basic_form) do |form| %>
<header>
  <div class="container">
    <h1>New Location</h1>
    <nav>
      <input type="submit" value="Save" />
      <%= link_to 'Cancel', entity_path(@entity) %>
    </nav>
  </div>
</header>
<section class="container">
  <%= render :partial => 'form',
             :locals => { :form => form, :model => @location_entry } %>
</section>
<% end %>
